@import "tailwindcss";

@theme {
  --color-pizza-red: #D32F2F;
  --color-pizza-red-dark: #B71C1C;
  --color-dark-bg: #121212;
  --color-card-bg: #1E1E1E;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-display: var(--font-oswald);
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-dark-bg text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-wide uppercase;
  }

  .pb-safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .content-pb-cart {
    padding-bottom: 250px;
  }
}

/* Global Mobile Optimizations */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.gpu-hardware-accelerated {
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}